body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C2526; /* Videodaki koyu arka plan */
    overflow: hidden;
    touch-action: none; /* Dokunmatik kaydırma engeli */
}

canvas {
    border: 2px solid #FFFFFF;
    max-width: 100%;
    max-height: 100%;
}
